@page "/"
@inject HttpClient Http
@inject IJSRuntime JSRuntime
@using System.Text.Json
@using System.IO

@*Handles the input for Settings.json*@
<InputFile id="fileInput" OnChange="SettingsFileChanged" hidden></InputFile>

<MudButton HtmlTag="label"
           Variant="Variant.Filled"
           Color="Color.Primary"
           StartIcon="@Icons.Filled.CloudUpload"
           for="fileInput">
    Upload Settings.Json
</MudButton>

@*<ParticipantTable participants="settings.participantList" />*@

@*<p>@defaultSettingsString</p>*@

<textarea @bind="fileContent" style="width:150px;height:100px;"/>
<button @onclick="saveFile">Save File</button>
<button @onclick="DownloadFile">Download File</button>

@code {
    private DefaultLayoutModel? settings = new DefaultLayoutModel();
    private List<CustomLayoutModel> customLayouts = new List<CustomLayoutModel>();
    private string defaultSettingsString = "";

    private async Task SettingsFileChanged(InputFileChangeEventArgs e)
    {
        // Get the file.
        var file = e.File;
        // Read that file in a byte array.
        var buffer = new byte[file.Size];
        await file.OpenReadStream().ReadAsync(buffer);
        // convert byte array to base 64 string.
        defaultSettingsString = Encoding.Default.GetString(buffer);
        settings = JsonSerializer.Deserialize<DefaultLayoutModel>(defaultSettingsString);
    }
}