@page "/"
@inject HttpClient Http
@inject IJSRuntime JS
@using System.Text.Json
@using System.IO

@*Handles the input for Settings.json*@
<InputFile id="fileInput" OnChange="SettingsFileChanged" hidden></InputFile>

<MudButton HtmlTag="label"
           Variant="Variant.Filled"
           Color="Color.Primary"
           StartIcon="@Icons.Filled.CloudUpload"
           for="fileInput">
    Upload Settings.Json
</MudButton>

@*Shows the List of participants*@
@if (settings.participantList.Count > 0)
{
    <MudItem xs="12" md="6">
        <MudPaper Width="100%">
            <MudList Clickable="true" Dense="true">
                @foreach (var participant in settings.participantList)
                {
                    <MudListItem Text="@participant" OnClick="() => settings.participantList.Remove(participant)"/>
                }
            </MudList>
        </MudPaper>
    </MudItem>
}
 <p>@defaultSettingsString</p>


@code {
    private DefaultLayoutModel? settings = new DefaultLayoutModel();
    private List<CustomLayoutModel> customLayouts = new List<CustomLayoutModel>();
    private string defaultSettingsString = "";
    MudListItem selectedParticipant;

    private async Task SettingsFileChanged(InputFileChangeEventArgs e)
    {
        // Get the file.
        var file = e.File;
        // Read that file in a byte array.
        var buffer = new byte[file.Size];
        await file.OpenReadStream().ReadAsync(buffer);
        // convert byte array to base 64 string.
        defaultSettingsString = Encoding.Default.GetString(buffer);
        settings = JsonSerializer.Deserialize<DefaultLayoutModel>(defaultSettingsString);
    }
}