<h3>Party</h3>
@if (participants.Count > 0)
{
    <MudItem xs="12" md="6">
        <MudPaper Width="100%">
            <MudList Clickable="true" Dense="true">
                @foreach (var participant in participants)
                {
                    <MudListItem Text="@participant" OnClick="() => participants.Remove(participant)" />
                }
            </MudList>

        </MudPaper>
    </MudItem>

    <MudItem xs="12" md="6">
        <MudPaper Width="100%">
            <MudForm @ref="form">
                <MudTextField T="string" Label="New Participant" @bind-Value="newParticipant" For="@(() => newParticipant)" Required="true" RequiredError="Name required!" />
                <MudButton Variant="Variant.Filled" Color="Color.Primary" DisableElevation="true" OnClick="() => participants.Add(newParticipant)">Add</MudButton>
            </MudForm>
        </MudPaper>
    </MudItem>
}
<p>@newParticipant</p>

@code {
    [Parameter]
    public List<string> participants { get; set; } = new();
    public string newParticipant = "";

    MudForm form;

}

