
@if (participants.Count > 0)
{
    <h3>Participants:</h3>
    <MudItem xs="12" md="6">
        <MudPaper Width="100%">
            <MudList Clickable="true" Dense="true">
                @foreach (var participant in participants)
                {
                    <MudListItem Text="@participant" OnClick="() => participants.Remove(participant)" />
                }
            </MudList>
        </MudPaper>
    </MudItem>
}
else
{
<h3>Please load Settings.Json</h3>
}

@code {
    [Parameter]
    public List<string> participants { get; set; } = new();
}

